<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.yhonda"
    android:installLocation="auto"
    android:versionCode="21"
    android:versionName="2.8" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/moalogo"
        android:label="@string/app_name" >
        <activity
            android:name=".MOAInstallerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.Black" >
        </activity>
        <activity
            android:name=".HTMLActivity"
            android:hardwareAccelerated="false"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:parentActivityName=".MaximaOnAndroidActivity"
            android:theme="@style/Theme.Light" >
        </activity>
        <activity
            android:name=".ManualActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:parentActivityName=".MaximaOnAndroidActivity"
            android:theme="@style/Theme.Light" >
        </activity>
        <activity
            android:name=".MaximaOnAndroidActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
